/* GLOBAL */

body {
    margin: 0;
    font-family: 'Poiret One', cursive;
}

.container-fluid {
    margin-bottom: 30px;
    text-align: center;
}

section > .container-fluid {
    max-width: 960px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    color: #414644;
}

h1,
h3,
h4 {
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


/* JUMBOTRON */

.jumbotron {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../images/photos/jumbotron/jumbotron_small.jpg);
    background-position: center;
    background-size: cover;
}


/* NAVIGATION */

.navbar {
    max-width: 660px;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.navbar-header {
    height: 0;
}

.navbar-toggle {
    width: 40px;
    height: 40px;
    margin: 15px;
    position: fixed;
    right: 0;
    border: 1px solid #A60014;
    border-radius: 50px;
}

.navbar-toggle .icon-bar {
    width: 18px;
    height: 2px;
    border-radius: 40px;
    background-color: #A60014;
}

.navbar-collapse {
    box-shadow: none;
}

.nav li a {
    margin-top: 25px;
    padding: 0;
    font-size: 2em;
    color: #414644;
}

.nav li a:hover,
.nav li a:focus {
    background-color: transparent;
    font-weight: 600;
    color: #A60014;
}


/*  Firefox only */

@-moz-document url-prefix() {
    .nav li a {
        padding: 20px;
    }
    .nav li a:hover {
        font-weight: 400;
    }
}


/* LOGO */

.logo {
    height: 25vh;
    -webkit-transition: linear .3s;
    transition: linear .3s;
    cursor: pointer;
}

.logo:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* ABOUT ICONS */

.about_ico {
    padding: 30px;
}

.about_ico img {
    width: 100px;
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
    cursor: pointer;
}

.about_ico img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.about_row_reduce {
    padding-bottom: 15px;
}


/* GALLERY/COLLECTION */

.gallery [class*="col-"] {
    padding: 0;
}

.gallery img {
    width: 100%;
    height: 25vw;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.gallery_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

.gallery_layer p,
.gallery_layer h2 {
    color: #fff;
}

.layer_display {
    position: relative;
    cursor: pointer;
}

.layer_display:hover .gallery_layer {
    opacity: 1;
}


/* TEAM/DESIGNERS */

.team {
    margin-bottom: 50px;
}

figure img {
    width: 80%;
    margin-top: 50px;
}

figcaption h3 {
    color: #A60014;
}

.social_icon {
    width: 40px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.social_icon:hover {
    background-color: rgba(166, 0, 20, 0.2);
}


/* CAROUSEL/LOOKBOOK */

.lookbook_box {
    width: 50%;
    position: relative;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lookbook_img {
    width: 100%;
    max-height: 400px;
}

.lookbook_title {
    margin: 0;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 62.5px);
}

.carousel {
    width: auto;
    max-height: 400px;
    margin-bottom: 40px;
    overflow: hidden;
}

.item {
    width: 100%;
    max-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* BUTTON */

.btn-primary {
    width: 63px;
    height: 63px;
    margin: 10px 0 30px 0;
    border-radius: 50%;
    background-color: #A60014;
    background-image: url(../images/button/download.jpg);
    background-size: contain;
}

.btn-primary:hover {
    background-color: rgba(166, 0, 20, 0.8);
    background-image: url(../images/button/download.jpg);
}


/* FOOTER */

footer {
    padding: 10px 0;
    background-color: #c6ccca;
    text-align: center;
    font-weight: bold;
}

.copy_footer {
    padding: 10px;
    background-color: #7d8984;
    text-align: center;
    color: #fff;
}

footer p,
.copy_footer p {
    margin: 5px;
}

footer .social_icon {
    margin: 3px 3px;
}


/*  Firefox only */

@-moz-document url-prefix() {
    footer {
        font-weight: 400;
    }
}


/* MEDIA QUERIES */

@media (max-width: 576px) {
    /* about icons, team */
    .xxs-grid [class*="col-"] {
        width: 100%;
    }
    /* team */
    figure img {
        width: 45vw;
        margin-top: 30px;
    }
    /* carousel/lookbook */
    .lookbook_box {
        width: 100%;
        float: none;
    }
}

@media (max-width: 630px) {
    /* gallery */
    .gallery_layer {
        font-size: 1em;
    }
}

@media (max-width: 767px) {
    /* menu, logo */
    .navbar-collapse {
        position: relative;
    }
    .nav li a {
        margin: 0;
        display: inline-block;
        text-align: center;
        font-size: 1.6em;
    }
    .nav > li:first-child > a {
        margin-top: 20px;
    }
    .logo {
        margin-top: 50px;
    }
    /* about icons */
    .about_ico {
        padding: 15px 30px;
    }
    /* gallery */
    .gallery img {
        height: 50vw;
    }
    /* footer */
    .mobile_marg {
        margin-bottom: 25px;
    }
    .mobile_pad {
        padding: 0 35px;
    }
}
